---
layout: default
title: Downloads
permalink: downloads
---

<section>
  <div class="container">
    <h1>{{ page.title }}</h1>

    <h2>Get source code</h2>
    <p>Go to the <a target="_blank" href="https://github.com/pousse-cafe">GitHub project</a> page.</p>

    <h2>Use Maven</h2>
    <ul>
      <li><p>Configure repositories</p><pre><code class="xml">{% include pom-repo.frag %}</code></pre></li>
      <li><p>Add dependency to your POM:</p>
      <pre><code class="xml">{% include pom-dependency.frag %}</code></pre>
      </li>
    </ul>
  </div>
</section>
