---
layout: default
title: Home
---

<section class="jumbotron">
  <div class="container">
    <h1>Pousse-Café Framework</h1>
    <h2>Making Domain-Driven Design implementation easy</h2>
  </div>
</section>

<section>
  <div class="container">
    <h2>Quick description</h2>
    <p>Pousse-Café is a Java framework that eases the writing of applications following Domain-Driven Design (DDD)
      methodology. While DDD has proven to be useful in implementing complex business rules and/or fulfilling
      strong scalability requirements, it is not always easy to apply given the number of surrounding subjects that need
      to be addressed (uncoupling of domain logic and storage engine, robust handling of Domain Events, testing, etc.).
      Pousse-Café's purpose is to solve most of those issues allowing developers to focus on the Domain logic
      and its implementation.</p>
  </div>
</section>

<section>
  <div class="container">
    <h2>How does it work?</h2>
    <h3>1. Implement Domain logic (Aggregates, Services, work flows, etc.)</h3>

    <div class="panel-group" id="domainGroup" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingAggregate">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#domainGroup" href="#collapseAggregate" aria-expanded="false"
              aria-controls="collapseOne">Click to see an example of Aggregate</a>
          </h4>
        </div>
        <div id="collapseAggregate" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAggregate">
          <div class="panel-body">
            <pre><code class="java">{% include product.java.frag %}</code></pre>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingWorkflow">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#domainGroup" href="#collapseWorkflow" aria-expanded="false"
              aria-controls="collapseOne">Click to see an example of Workflow</a>
          </h4>
        </div>
        <div id="collapseWorkflow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingWorkflow">
          <div class="panel-body">
            <pre><code class="java">{% include workflow.java.frag %}</code></pre>
          </div>
        </div>
      </div>
    </div>

    <h3>2. Test Domain logic</h3>

    <div class="panel-group" id="testGroup" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTest">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#testGroup" href="#collapseTest" aria-expanded="false"
              aria-controls="#collapseTest">Click to see an example of test</a>
          </h4>
        </div>
        <div id="collapseTest" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest">
          <div class="panel-body">
            <pre><code class="java">{% include test.java.frag %}</code></pre>
          </div>
        </div>
      </div>
    </div>

    <h3>3. Integrate Domain logic in an app</h3>
    
    <div class="panel-group" id="appGroup" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingApp">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#appGroup" href="#collapseApp" aria-expanded="false"
              aria-controls="#collapseApp">Click to see an example of app code</a>
          </h4>
        </div>
        <div id="collapseApp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingApp">
          <div class="panel-body">
            <pre><code class="java">{% include app.java.frag %}</code></pre>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
