<footer class="container-fluid">
  <div class="container">
    <div class="col-md-6 copyright">
      <p>
        The contents of this website are <br>© {{ site.copyright_date }} under the terms of the <a
          href="https://github.com/pousse-cafe/pousse-cafe.github.io/blob/master/LICENSE">CC-BY-SA-4.0 License</a>.
      </p>
    </div>
    <div class="col-md-6 contact">
      <p>Follow us on:</p>
      <ul>
        <li><i class="fa fa-github"></i> <a href="https://github.com/pousse-cafe/pousse-cafe" target="_blank">GitHub</a></li>
      </ul>
    </div>
  </div>
</footer>