<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.url }}"> <img alt="Logo" src="">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% for item in site.data.menu %}
        <li class="{% if page.title == item.title %}active{% endif%}"><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>

<div class="menu-placeholder">
</div>