$poussecafe-back-color: #b39c6e;
$poussecafe-back-color2: #7e7258;
$poussecafe-link: white;

html, body {
    height: 100%;
}

.content-wrapper {
  background-color: white;
  min-height: calc(100% - 277px);
  padding-bottom: 50px;

  h2 {
    padding-top: 110px;
    margin-top: -80px;
  }

  .highlight {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .alert {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

body {
  background-color: white;
  color: $poussecafe-back-color2;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

a, a:active, a:visited, a:focus {
  color: $poussecafe-back-color2;
  text-decoration: none;
  border-bottom: 1px dashed $poussecafe-back-color2;
}

a:hover {
  color: $poussecafe-back-color;
  text-decoration: none;
  border-bottom: 1px solid $poussecafe-back-color;
}

h1 {
  border-bottom: 1px solid;
  padding-bottom: 20px;
  text-transform: uppercase;
  margin-top: 40px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

h4 {
  font-size: 20px;
  font-style: italic;
}

.figure {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

img.fill-width {
    width: 100%;
}

.figure-frame {
    padding: 10px;
    background-color: white;
}

.caption {
    text-align: center;
    font-style: italic;
}

.jumbotron {
    background-color: $poussecafe-back-color;
    color: white;

    h1 {
      border: none;
      padding-bottom: 0;
      margin-top: 20px;
    }

    h2 {
      text-transform: none;
      padding: 0;
      border-bottom: none;
    }

    .benefits {
        h2 {
            text-transform: uppercase;
        }
    }

    a, a:active, a:visited, a:focus {
        color: white;
        text-decoration: none;
        border-bottom: 1px dashed white;
    }
}
