footer {
  background-color: $poussecafe-back-color;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;

  a, a:hover, a:active, a:visited, a:focus {
    color: white;
  }

  .contact {
    text-align: right;
    ul {
      list-style: none;
    }
  }
}
