footer {
  background-color: $poussecafe-back-color2;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;

    a, a:active, a:visited, a:focus {
        color: white;
        border-bottom: 1px dashed white;
    }

    a:hover {
        color: white;
        border-bottom: 1px solid white;
    }

  .contact {
    text-align: right;
    ul {
      list-style: none;
    }
  }
}
