.home {

  .jumbotron {
    background-color: $poussecafe-back-color;
  
    h1 {
      border: none;
      padding-bottom: 0;
      margin-top: 20px;
    }

    h2 {
      text-transform: none;
      text-decoration: none;
      padding: 0;
    }
  }

  .benefits {
    h3 {
      text-transform: uppercase;
    }
  }

  h2 {
    text-transform: uppercase;
  }

  #big-picture {
    img {
        max-width: 100%;
    }
  }
}
