.home {

  .jumbotron {
    background-color: $poussecafe-back-color;
  
    h1 {
      border: none;
      padding-bottom: 0;
      margin-top: 20px;
    }

    h2 {
      text-transform: none;
      padding: 0;
      border-bottom: none;
    }
    
    .benefits {
        h2 {
            text-transform: uppercase;
        }
    }
  }

  h2 {
    text-transform: uppercase;
    margin-top: 50px;
  }

  #big-picture {
    img {
        max-width: 100%;
    }
  }

  section.subsection {
    margin-top: 50px;
  }
}
